

.container-producto{
    margin-top: 70px;

    /* display: none; */
    
}

.producto{
    border: 2px rgb(194, 194, 194) solid;
    border-radius: 7%;
    overflow: hidden;
    margin-bottom: calc(var(--bs-gutter-x) * 1);
}
.producto-img{
    width: 90%;
    border-radius: 6%;
    margin: 5%;
}
.producto-nombre{
    margin-top: calc(var(--bs-gutter-x) * 1);
    margin-left: calc(var(--bs-gutter-x) * .5);
    color: gray;
    font-weight: bolder;
    
}
.producto-precio{
    margin-left: calc(var(--bs-gutter-x) * .5);
    margin-bottom: calc(var(--bs-gutter-x) * .5);
    font-size: 24px;
    font-weight: bolder;
}
